<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Bhumi</title>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <div ng-repeat="log in bheed">
            <show-details guy="log" fun="test()"></show-details>
        </div>
    </div>
</body>
<script src="../js/angular.js"></script>
<script>
    angular.module("myModule",[]);
    angular.module("myModule").controller("myController",function ($scope) {
        $scope.bheed=[
      {name:"Suraj",age:24,color:"black"},
      {name:"Sugam",age:23,color:"blue"},
      {name:"Nidhi",age:23,color:"pink"},
      {name:"Shubham",age:23,color:"grey"},
      {name:"Neha",age:23,color:"yellow"},
      {name:"Sumit",age:23,color:"green"},
      {name:"Rahul",age:23,color:"orange"},
      {name:"Anuj",age:23,color:"red"},
      {name:"Rajendra",age:23,color:"cryn"}];
      $scope.test=function () {
          console.log("Hello I am Data");
      }
      $scope.test1=function () {
          window.alert("Hello I am Data");
      }

    });

    angular.module("myModule").directive("showDetails",function(){
            return{
                template:"<p>hi I am {{guy.name}} I am {{guy.age}} years old my fav color is <span ng-click='fun()'>{{guy.color}}</span></p>",
                scope:{guy:"=",fun:'&'},
                restrict: 'E',
                transclude: true,
            }
    });
</script>
</html>