<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="myApp">
    
    <form ng-controller="createTaskController"> 

        <input type="text" ng-model="id">
        <input type="text" ng-model="title">
        <input type="text" ng-model="description">
        <input type="date" ng-model="enddate">
        <button type="button" ng-click="createTask()">Save</button>
    </form>

    <script src="../js/angular.js"></script>
    <script>
    var app = angular.module("myApp",[]);
    app.controller("createTaskController",function($scope){
     $scope.createTask= function()
     {
        function originalCreateTask (id,title,description,enddate)
    {
	this.id=id;
	this.title=title;
	this.description=description;
	this.creationdate= new Date();
	this.enddate=enddate;
	this.status=false;
    }
    var task = new originalCreateTask($scope.id,$scope.title,$scope.description,$scope.enddate);
    console.log(task);
     }
    })
</script>
</body>
</html>