<form>
<input type="text" ng-model="person.firstname" placeholder="firstname"><br>
<input type="text" ng-model="person.lastname" placeholder="last name">
<br>
<input type="text" ng-model="person.username" placeholder="username">
<br>
<input type="password" ng-model="person.password" placeholder="password">
<br>
<input type="email" ng-model="person.email" placeholder="email">
<br>
<input type="tel" ng-model="person.contact" placeholder="number">
<br>
<input type="text" ng-model="person.aadhar" placeholder="aadhar number">
<br>
<button type="button" ng-click="saveData()">Save</button>



</form>