<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Book Data</title>
	<link rel="stylesheet" href="">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/book.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" ng-app="bookModel">
		<div class="row" ng-controller="bookControl as Allbooks">
			<div class="col-sm-12" style="margin: 20px 0px">	
				<input type="text" name="" value="" style="width: 270px;border: 2px solid #fb8913;height: 35px;border-radius: 4px;" ng-model="serchBook.Title">
			</div>
			<div class="clearfif"></div>
			<div class="col-sm-3" style="height:550px;overflow: auto;margin-bottom: 30px;" ng-repeat="myBook in Allbooks.Book|filter:serchBook">
				<img src="{{myBook.Image}}" width="100%" alt="">
				{{myBook.Title}}
				{{myBook.Description}}
			</div>
		</div>		
	</div>
</body>
<script type="text/javascript">
	var Book = angular.module('bookModel', []);
		Book.controller('bookControl', function(){
		this.Book=book;
	})	
</script>
</html>